@media (max-width: 980px){
    .headerRightHalf {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        background-color: #008C45;
        text-align: center;
        margin-top: 280px;
        right: 0;
        left: 0;
    }

    .hamburger {
        display: block;
        padding: 10px 0;
        margin-right: 20px;
    }

    #checkbox_toggle:checked ~ .headerRightHalf {
        display: block;
        max-height: 100%;
        transition: all .5s;
    }

    #checkbox_toggle:checked ~ .hamburger .hamburgerLine {
        background-color: transparent;
    }

    #checkbox_toggle:checked  ~ .hamburger .hamburgerLine::before {
        transform: rotate(45deg);
        top: 0;
    }

    #checkbox_toggle:checked  ~ .hamburger .hamburgerLine::after {
        transform: rotate(-45deg);
        top: 0;
    }

    .product:hover {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .footerWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        background: #CE2B37;
    }

    .footer__section {
        display: flex;
        padding: 7px 7px;
    }

    .footer__item {
        color: #F1F2F1;
        font-size: 16px;
    }

    .githubLogo {
        margin-left: 0;
        max-width: 20px;
    }
}

@media (max-width: 780px){
    .menuMain {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        max-width: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 0;
    }
}

@media (max-width: 425px) {
    #mainPagePizzaImg {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 375px) {

    .headerLogo {
        font-size: 20px;
    }

    .headerRightHalf {
        margin-top: 250px;
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 295px;
        height: 350px;
        border: 1px solid #ffffff;
        border-radius: 40px;
        margin: 0 20px 50px;
        background-color: rgba(255, 255, 255, 0.22);
    }

    .product:hover {
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .footer__item {
        font-size: 10px;
    }

    .githubLogo {
        max-width: 15px;
    }
}